<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>MyflaskAPP</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
				  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/qna">Qna</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/aboutus">About us</a>
				</li>
				</li>
			  </ul>
		  </nav>
		  
<main class="page-content">
	<div class="card">
	  <div class="content">
		<h2 class="title">Food production</h2>
		<p class="copy">Their effects range from mild symptoms to catastrophes in which large areas planted to food crops are destroyed. Catastrophic plant disease exacerbates the current deficit of food supply in which at least 800 million people are inadequately fed</p>
	  </div>
	</div>
	<div class="card">
	  <div class="content">
		<h2 class="title">Annual loss</h2>
		<p class="copy">Globally, due to soil erosion, the annual amount of fertilizers mobilized is equivalent to 34 US$ billion for N and 80 US$ billion for P which is an important financial loss</p>
	  </div>
	</div>
	<div class="card">
	  <div class="content">
		<h2 class="title">Human Health</h2>
		<p class="copy">Plant diseases are well known to reduce the food available to humans by ultimately interfering with crop yields. This can result in inadequate food to humans or lead to starvation and death in the worst cases</p>
	  </div>
	</div>
	<div class="card">
	  <div class="content">
		<h2 class="title">Threat to Aquatic life</h2>
		<p class="copy">As excess fertilizers enter aquatic ecosystems and cause algal blooms, the algae die off more rapidly. As algae decompose, they remove oxygen from the water, according to the Natural Resources Defense Council and the EPA. A lack of oxygen in the water then kills off fish and other aquatic life</p>
	  </div>
	</div>
  </main>
  		
		<a href="/index"><button class="btn">Predict the disease name</button></a>
		<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'>
		</script>
	</body>
</html>

